body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:41px;
}
#u12547 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u12548 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u12549 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u12550 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u12551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:591px;
}
#u12551 {
  position:absolute;
  left:7px;
  top:67px;
  width:1193px;
  height:591px;
}
#u12552 {
  position:absolute;
  left:2px;
  top:288px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
