body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5232 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5234 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u5236 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u5238 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5240 {
  position:absolute;
  left:169px;
  top:51px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u5241 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u5242 {
  position:absolute;
  left:110px;
  top:356px;
  width:67px;
  height:32px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u5244 {
  position:absolute;
  left:169px;
  top:134px;
  width:102px;
  height:32px;
}
#u5245 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5246 {
  position:absolute;
  left:37px;
  top:102px;
  width:327px;
  height:155px;
}
#u5247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:76px;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:75px;
  font-size:16px;
  text-align:left;
}
#u5248 {
  position:absolute;
  left:2px;
  top:28px;
  width:157px;
  word-wrap:break-word;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:76px;
}
#u5249 {
  position:absolute;
  left:161px;
  top:0px;
  width:161px;
  height:75px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u5250 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:76px;
}
#u5251 {
  position:absolute;
  left:0px;
  top:75px;
  width:161px;
  height:75px;
  font-size:16px;
  text-align:left;
}
#u5252 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:76px;
}
#u5253 {
  position:absolute;
  left:161px;
  top:75px;
  width:161px;
  height:75px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u5254 {
  position:absolute;
  left:2px;
  top:30px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u5255 {
  position:absolute;
  left:37px;
  top:177px;
  width:335px;
  height:1px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257 {
  position:absolute;
  left:111px;
  top:102px;
  width:261px;
  height:75px;
}
#u5257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:75px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5257_input {
  font-family:'微软雅黑';
}
#u5257_ann {
  position:absolute;
  left:365px;
  top:98px;
  width:1px;
  height:1px;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5258 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#FF9500;
  text-align:right;
}
#u5259 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
