body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:41px;
}
#u12553 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u12554 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u12555 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u12556 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u12557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:591px;
}
#u12557 {
  position:absolute;
  left:7px;
  top:67px;
  width:1193px;
  height:591px;
}
#u12558 {
  position:absolute;
  left:2px;
  top:288px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:754px;
}
#u12559 {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:753px;
}
#u12560 {
  position:absolute;
  left:2px;
  top:368px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:465px;
}
#u12561 {
  position:absolute;
  left:195px;
  top:5px;
  width:814px;
  height:464px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12562 {
  position:absolute;
  left:2px;
  top:224px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:52px;
}
#u12563 {
  position:absolute;
  left:209px;
  top:13px;
  width:7px;
  height:51px;
}
#u12564 {
  position:absolute;
  left:2px;
  top:18px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u12565 {
  position:absolute;
  left:226px;
  top:13px;
  width:300px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u12566 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u12567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u12567 {
  position:absolute;
  left:733px;
  top:344px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u12568 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u12569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u12569 {
  position:absolute;
  left:842px;
  top:344px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u12570 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u12571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:211px;
}
#u12571 {
  position:absolute;
  left:211px;
  top:81px;
  width:786px;
  height:211px;
}
#u12572 {
  position:absolute;
  left:2px;
  top:98px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
