body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u7880 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u7881 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u7882 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u7883 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u7884 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u7885 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u7886 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u7887 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u7888 {
  position:absolute;
  left:169px;
  top:51px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u7889 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u7890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:47px;
}
#u7890 {
  position:absolute;
  left:165px;
  top:336px;
  width:91px;
  height:46px;
}
#u7891 {
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:603px;
}
#u7892 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:602px;
}
#u7893 {
  position:absolute;
  left:2px;
  top:293px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7894 {
  position:absolute;
  left:21px;
  top:85px;
  width:373px;
  height:1px;
}
#u7895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:101px;
}
#u7896 {
  position:absolute;
  left:21px;
  top:225px;
  width:373px;
  height:100px;
}
#u7897 {
  position:absolute;
  left:2px;
  top:42px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u7898 {
  position:absolute;
  left:37px;
  top:275px;
  width:342px;
  height:1px;
}
#u7899 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7900 {
  position:absolute;
  left:37px;
  top:225px;
  width:172px;
  height:105px;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:51px;
}
#u7901 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u7902 {
  position:absolute;
  left:2px;
  top:17px;
  width:163px;
  word-wrap:break-word;
}
#u7903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:51px;
}
#u7903 {
  position:absolute;
  left:0px;
  top:50px;
  width:167px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u7904 {
  position:absolute;
  left:2px;
  top:17px;
  width:163px;
  word-wrap:break-word;
}
#u7905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7905 {
  position:absolute;
  left:364px;
  top:240px;
  width:15px;
  height:25px;
}
#u7906 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7907 {
  position:absolute;
  left:364px;
  top:286px;
  width:15px;
  height:25px;
}
#u7908 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:51px;
}
#u7909 {
  position:absolute;
  left:21px;
  top:96px;
  width:373px;
  height:50px;
}
#u7910 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7911 {
  position:absolute;
  left:37px;
  top:96px;
  width:289px;
  height:55px;
}
#u7912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:51px;
}
#u7912 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u7913 {
  position:absolute;
  left:2px;
  top:17px;
  width:80px;
  word-wrap:break-word;
}
#u7914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u7914 {
  position:absolute;
  left:84px;
  top:0px;
  width:200px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u7915 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u7916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7916 {
  position:absolute;
  left:364px;
  top:109px;
  width:15px;
  height:25px;
}
#u7917 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u7918 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:664px;
}
#u7919 {
  position:absolute;
  left:2px;
  top:324px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:252px;
}
#u7920 {
  position:absolute;
  left:21px;
  top:434px;
  width:373px;
  height:251px;
}
#u7921 {
  position:absolute;
  left:2px;
  top:118px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7922 {
  position:absolute;
  left:26px;
  top:434px;
  width:369px;
  height:257px;
}
#u7923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7923 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-size:14px;
  color:#EB9D14;
}
#u7924 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7925 {
  position:absolute;
  left:60px;
  top:0px;
  width:244px;
  height:36px;
  font-size:14px;
}
#u7926 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7927 {
  position:absolute;
  left:304px;
  top:0px;
  width:60px;
  height:36px;
  font-size:14px;
  color:#FF9500;
}
#u7928 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7929 {
  position:absolute;
  left:0px;
  top:36px;
  width:60px;
  height:36px;
}
#u7930 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7931 {
  position:absolute;
  left:60px;
  top:36px;
  width:244px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u7932 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7933 {
  position:absolute;
  left:304px;
  top:36px;
  width:60px;
  height:36px;
}
#u7934 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7935 {
  position:absolute;
  left:0px;
  top:72px;
  width:60px;
  height:36px;
}
#u7936 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7937 {
  position:absolute;
  left:60px;
  top:72px;
  width:244px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u7938 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7939 {
  position:absolute;
  left:304px;
  top:72px;
  width:60px;
  height:36px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7941 {
  position:absolute;
  left:0px;
  top:108px;
  width:60px;
  height:36px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7943 {
  position:absolute;
  left:60px;
  top:108px;
  width:244px;
  height:36px;
  font-size:14px;
  color:#FF9500;
}
#u7944 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7945 {
  position:absolute;
  left:304px;
  top:108px;
  width:60px;
  height:36px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7947 {
  position:absolute;
  left:0px;
  top:144px;
  width:60px;
  height:36px;
}
#u7948 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7949 {
  position:absolute;
  left:60px;
  top:144px;
  width:244px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u7950 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7951 {
  position:absolute;
  left:304px;
  top:144px;
  width:60px;
  height:36px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7953 {
  position:absolute;
  left:0px;
  top:180px;
  width:60px;
  height:36px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7955 {
  position:absolute;
  left:60px;
  top:180px;
  width:244px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u7956 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7957 {
  position:absolute;
  left:304px;
  top:180px;
  width:60px;
  height:36px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7959 {
  position:absolute;
  left:0px;
  top:216px;
  width:60px;
  height:36px;
}
#u7960 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
}
#u7961 {
  position:absolute;
  left:60px;
  top:216px;
  width:244px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u7962 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u7963 {
  position:absolute;
  left:304px;
  top:216px;
  width:60px;
  height:36px;
}
#u7964 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7922_ann {
  position:absolute;
  left:383px;
  top:430px;
  width:1px;
  height:1px;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7965 {
  position:absolute;
  left:21px;
  top:542px;
  width:373px;
  height:1px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u7967 {
  position:absolute;
  left:21px;
  top:578px;
  width:373px;
  height:1px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
