body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5728 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u5729 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u5730 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u5731 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5732 {
  position:absolute;
  left:169px;
  top:51px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u5733 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u5734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u5734 {
  position:absolute;
  left:110px;
  top:356px;
  width:67px;
  height:32px;
}
#u5735 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u5736 {
  position:absolute;
  left:169px;
  top:134px;
  width:102px;
  height:32px;
}
#u5737 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u5738 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#FF9500;
  text-align:right;
}
#u5739 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u5740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5740 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u5741 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5742 {
  position:absolute;
  left:51px;
  top:130px;
  width:50px;
  height:50px;
}
#u5743 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5744 {
  position:absolute;
  left:141px;
  top:130px;
  width:50px;
  height:50px;
}
#u5745 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5746 {
  position:absolute;
  left:228px;
  top:130px;
  width:50px;
  height:50px;
}
#u5747 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5748 {
  position:absolute;
  left:316px;
  top:130px;
  width:50px;
  height:50px;
}
#u5749 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5750 {
  position:absolute;
  left:51px;
  top:220px;
  width:50px;
  height:50px;
}
#u5751 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5752 {
  position:absolute;
  left:141px;
  top:220px;
  width:50px;
  height:50px;
}
#u5753 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5754 {
  position:absolute;
  left:228px;
  top:220px;
  width:50px;
  height:50px;
}
#u5755 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5756 {
  position:absolute;
  left:316px;
  top:220px;
  width:50px;
  height:50px;
}
#u5757 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5758 {
  position:absolute;
  left:51px;
  top:306px;
  width:50px;
  height:50px;
}
#u5759 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5760 {
  position:absolute;
  left:141px;
  top:306px;
  width:50px;
  height:50px;
}
#u5761 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5762 {
  position:absolute;
  left:228px;
  top:306px;
  width:50px;
  height:50px;
}
#u5763 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5764 {
  position:absolute;
  left:316px;
  top:306px;
  width:50px;
  height:50px;
}
#u5765 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
