body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4066 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u4068 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4070 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u4072 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u4073 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u4074 {
  position:absolute;
  left:169px;
  top:49px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u4075 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4076 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4078 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u4080 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u4082 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u4083 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u4084 {
  position:absolute;
  left:157px;
  top:53px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u4085 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
}
#u4086 {
  position:absolute;
  left:21px;
  top:90px;
  width:375px;
  height:601px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4088 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4090 {
  position:absolute;
  left:124px;
  top:224px;
  width:20px;
  height:16px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4092 {
  position:absolute;
  left:124px;
  top:375px;
  width:20px;
  height:16px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094 {
  position:absolute;
  left:20px;
  top:633px;
  width:375px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
