body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u8340 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u8341 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u8342 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u8343 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u8344 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u8345 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u8346 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u8347 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u8348 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u8349 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u8350 {
  position:absolute;
  left:21px;
  top:84px;
  width:373px;
  height:1px;
}
#u8351 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
}
#u8352 {
  position:absolute;
  left:156px;
  top:51px;
  width:102px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u8353 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u8354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u8354 {
  position:absolute;
  left:34px;
  top:185px;
  width:360px;
  height:1px;
}
#u8355 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u8356 {
  position:absolute;
  left:34px;
  top:245px;
  width:362px;
  height:1px;
}
#u8357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u8358 {
  position:absolute;
  left:34px;
  top:305px;
  width:360px;
  height:1px;
}
#u8359 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8360 {
  position:absolute;
  left:34px;
  top:125px;
  width:359px;
  height:60px;
}
#u8360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8360_input {
  font-family:'微软雅黑';
}
#u8361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u8361 {
  position:absolute;
  left:34px;
  top:124px;
  width:360px;
  height:1px;
}
#u8362 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8363 {
  position:absolute;
  left:34px;
  top:186px;
  width:360px;
  height:59px;
}
#u8363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8363_input {
  font-family:'微软雅黑';
}
#u8364 {
  position:absolute;
  left:34px;
  top:245px;
  width:359px;
  height:60px;
}
#u8364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8364_input {
  font-family:'微软雅黑';
}
#u8365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u8365 {
  position:absolute;
  left:34px;
  top:245px;
  width:360px;
  height:1px;
}
#u8366 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u8367 {
  position:absolute;
  left:34px;
  top:315px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#FF9500;
}
#u8368 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u8369 {
  position:absolute;
  left:27px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u8370 {
  position:absolute;
  left:304px;
  top:49px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#EB9D14;
  text-align:right;
}
#u8371 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
