body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:41px;
}
#u10995 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u10996 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u10997 {
  position:absolute;
  left:24px;
  top:5px;
  width:300px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u10998 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u10999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:41px;
}
#u10999 {
  position:absolute;
  left:24px;
  top:70px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u11000 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u10999_ann {
  position:absolute;
  left:279px;
  top:66px;
  width:1px;
  height:1px;
}
#u11001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11001 {
  position:absolute;
  left:30px;
  top:78px;
  width:25px;
  height:25px;
}
#u11002 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:41px;
}
#u11003 {
  position:absolute;
  left:296px;
  top:70px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u11004 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u11003_ann {
  position:absolute;
  left:551px;
  top:66px;
  width:1px;
  height:1px;
}
#u11005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11005 {
  position:absolute;
  left:302px;
  top:78px;
  width:25px;
  height:25px;
}
#u11006 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:398px;
}
#u11007 {
  position:absolute;
  left:24px;
  top:120px;
  width:887px;
  height:397px;
}
#u11008 {
  position:absolute;
  left:2px;
  top:190px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
