body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u8162 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u8163 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u8164 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u8165 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u8166 {
  position:absolute;
  left:220px;
  top:48px;
  width:80px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u8167 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:85px;
}
#u8168 {
  position:absolute;
  left:34px;
  top:95px;
  width:346px;
  height:85px;
}
#u8169 {
  position:absolute;
  left:2px;
  top:34px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u8170 {
  position:absolute;
  left:34px;
  top:144px;
  width:126px;
  height:36px;
}
#u8171 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8172 {
  position:absolute;
  left:34px;
  top:190px;
  width:315px;
  height:305px;
}
#u8173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8173 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u8174 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:61px;
}
#u8175 {
  position:absolute;
  left:100px;
  top:0px;
  width:210px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8176 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u8177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8177 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u8178 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:61px;
}
#u8179 {
  position:absolute;
  left:100px;
  top:60px;
  width:210px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8180 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8181 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u8182 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:61px;
}
#u8183 {
  position:absolute;
  left:100px;
  top:120px;
  width:210px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8184 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8185 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u8186 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:61px;
}
#u8187 {
  position:absolute;
  left:100px;
  top:180px;
  width:210px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8188 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u8189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8189 {
  position:absolute;
  left:0px;
  top:240px;
  width:100px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u8190 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:61px;
}
#u8191 {
  position:absolute;
  left:100px;
  top:240px;
  width:210px;
  height:60px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8192 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u8193 {
  position:absolute;
  left:34px;
  top:250px;
  width:360px;
  height:1px;
}
#u8194 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u8195 {
  position:absolute;
  left:34px;
  top:310px;
  width:362px;
  height:1px;
}
#u8196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u8197 {
  position:absolute;
  left:34px;
  top:370px;
  width:362px;
  height:1px;
}
#u8198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u8199 {
  position:absolute;
  left:364px;
  top:215px;
  width:15px;
  height:25px;
}
#u8200 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u8201 {
  position:absolute;
  left:364px;
  top:268px;
  width:15px;
  height:25px;
}
#u8202 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u8203 {
  position:absolute;
  left:364px;
  top:328px;
  width:15px;
  height:25px;
}
#u8204 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u8205 {
  position:absolute;
  left:364px;
  top:387px;
  width:15px;
  height:25px;
}
#u8206 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u8207 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u8208 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u8209 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u8210 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u8211 {
  position:absolute;
  left:169px;
  top:51px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u8212 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u8213 {
  position:absolute;
  left:354px;
  top:120px;
  width:26px;
  height:36px;
}
#u8214 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:75px;
}
#u8215 {
  position:absolute;
  left:277px;
  top:99px;
  width:76px;
  height:75px;
}
#u8216 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8217 {
  position:absolute;
  left:34px;
  top:190px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8218 {
  position:absolute;
  left:34px;
  top:251px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8219 {
  position:absolute;
  left:34px;
  top:369px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8220 {
  position:absolute;
  left:34px;
  top:312px;
  width:360px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8221 {
  position:absolute;
  left:27px;
  top:46px;
  width:76px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u8222 {
  position:absolute;
  left:33px;
  top:430px;
  width:362px;
  height:1px;
}
#u8223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u8224 {
  position:absolute;
  left:364px;
  top:448px;
  width:15px;
  height:25px;
}
#u8225 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8226 {
  position:absolute;
  left:34px;
  top:430px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u8227 {
  position:absolute;
  left:20px;
  top:623px;
  width:375px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u8228 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  word-wrap:break-word;
}
#u8227_ann {
  position:absolute;
  left:388px;
  top:619px;
  width:1px;
  height:1px;
}
