body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u7218 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u7219 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u7220 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u7221 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u7222 {
  position:absolute;
  left:157px;
  top:46px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u7223 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u7224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u7224 {
  position:absolute;
  left:33px;
  top:222px;
  width:110px;
  height:110px;
}
#u7225 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u7226 {
  position:absolute;
  left:153px;
  top:222px;
  width:110px;
  height:110px;
}
#u7227 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u7228 {
  position:absolute;
  left:153px;
  top:102px;
  width:110px;
  height:110px;
}
#u7229 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u7230 {
  position:absolute;
  left:273px;
  top:102px;
  width:110px;
  height:110px;
}
#u7231 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u7232 {
  position:absolute;
  left:180px;
  top:178px;
  width:57px;
  height:16px;
  color:#FF9500;
}
#u7233 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7234 {
  position:absolute;
  left:314px;
  top:177px;
  width:29px;
  height:16px;
  color:#FF9500;
}
#u7235 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7236 {
  position:absolute;
  left:74px;
  top:298px;
  width:29px;
  height:16px;
  color:#FF9500;
}
#u7237 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7238 {
  position:absolute;
  left:194px;
  top:298px;
  width:29px;
  height:16px;
  color:#FF9500;
}
#u7239 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u7240 {
  position:absolute;
  left:33px;
  top:102px;
  width:110px;
  height:110px;
}
#u7241 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u7242 {
  position:absolute;
  left:63px;
  top:178px;
  width:57px;
  height:16px;
  color:#FF9500;
}
#u7243 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7244 {
  position:absolute;
  left:188px;
  top:239px;
  width:40px;
  height:40px;
}
#u7245 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7246 {
  position:absolute;
  left:68px;
  top:239px;
  width:40px;
  height:40px;
}
#u7247 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7248 {
  position:absolute;
  left:308px;
  top:115px;
  width:40px;
  height:40px;
}
#u7249 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7250 {
  position:absolute;
  left:188px;
  top:115px;
  width:40px;
  height:40px;
}
#u7251 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7252 {
  position:absolute;
  left:68px;
  top:115px;
  width:40px;
  height:40px;
}
#u7253 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u7254 {
  position:absolute;
  left:273px;
  top:222px;
  width:110px;
  height:110px;
}
#u7255 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7256 {
  position:absolute;
  left:314px;
  top:298px;
  width:29px;
  height:16px;
  color:#FF9500;
}
#u7257 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7258 {
  position:absolute;
  left:308px;
  top:239px;
  width:40px;
  height:40px;
}
#u7259 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7260 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u7261 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
