body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4714 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4715 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4716 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4717 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u4718 {
  position:absolute;
  left:160px;
  top:48px;
  width:95px;
  height:23px;
  font-size:16px;
  color:#FF9500;
}
#u4719 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u4720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4720 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u4721 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:600px;
}
#u4722 {
  position:absolute;
  left:21px;
  top:87px;
  width:373px;
  height:599px;
}
#u4723 {
  position:absolute;
  left:2px;
  top:292px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:218px;
}
#u4724 {
  position:absolute;
  left:21px;
  top:100px;
  width:373px;
  height:217px;
}
#u4725 {
  position:absolute;
  left:2px;
  top:100px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:111px;
}
#u4726 {
  position:absolute;
  left:32px;
  top:107px;
  width:354px;
  height:110px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4727 {
  position:absolute;
  left:2px;
  top:2px;
  width:350px;
  word-wrap:break-word;
}
#u4728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4728 {
  position:absolute;
  left:32px;
  top:227px;
  width:80px;
  height:80px;
}
#u4729 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u4730 {
  position:absolute;
  left:306px;
  top:48px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#FF9500;
  text-align:right;
}
#u4731 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
