body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4132 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4133 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u4134 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u4135 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4136 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u4138 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u4140 {
  position:absolute;
  left:169px;
  top:49px;
  width:80px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u4141 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4142 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4144 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u4146 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u4148 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u4150 {
  position:absolute;
  left:157px;
  top:53px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u4151 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u4152 {
  position:absolute;
  left:20px;
  top:92px;
  width:380px;
  height:609px;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:151px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4155 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:151px;
}
#u4156 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4157 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:151px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4159 {
  position:absolute;
  left:0px;
  top:151px;
  width:125px;
  height:151px;
}
#u4160 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4161 {
  position:absolute;
  left:125px;
  top:151px;
  width:125px;
  height:151px;
}
#u4162 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4163 {
  position:absolute;
  left:250px;
  top:151px;
  width:125px;
  height:151px;
}
#u4164 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4165 {
  position:absolute;
  left:0px;
  top:302px;
  width:125px;
  height:151px;
}
#u4166 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4167 {
  position:absolute;
  left:125px;
  top:302px;
  width:125px;
  height:151px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4169 {
  position:absolute;
  left:250px;
  top:302px;
  width:125px;
  height:151px;
}
#u4170 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4171 {
  position:absolute;
  left:0px;
  top:453px;
  width:125px;
  height:151px;
}
#u4172 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4173 {
  position:absolute;
  left:125px;
  top:453px;
  width:125px;
  height:151px;
}
#u4174 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:152px;
}
#u4175 {
  position:absolute;
  left:250px;
  top:453px;
  width:125px;
  height:151px;
}
#u4176 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4177 {
  position:absolute;
  left:33px;
  top:94px;
  width:100px;
  height:100px;
}
#u4178 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4179 {
  position:absolute;
  left:159px;
  top:94px;
  width:100px;
  height:100px;
}
#u4180 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4181 {
  position:absolute;
  left:282px;
  top:94px;
  width:100px;
  height:100px;
}
#u4182 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4183 {
  position:absolute;
  left:33px;
  top:245px;
  width:100px;
  height:100px;
}
#u4184 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4185 {
  position:absolute;
  left:159px;
  top:245px;
  width:100px;
  height:100px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4187 {
  position:absolute;
  left:282px;
  top:245px;
  width:100px;
  height:100px;
}
#u4188 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4189 {
  position:absolute;
  left:33px;
  top:395px;
  width:100px;
  height:100px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4191 {
  position:absolute;
  left:159px;
  top:395px;
  width:100px;
  height:100px;
}
#u4192 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4193 {
  position:absolute;
  left:282px;
  top:395px;
  width:100px;
  height:100px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4195 {
  position:absolute;
  left:33px;
  top:546px;
  width:100px;
  height:100px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4197 {
  position:absolute;
  left:159px;
  top:546px;
  width:100px;
  height:100px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4199 {
  position:absolute;
  left:282px;
  top:546px;
  width:100px;
  height:100px;
}
#u4200 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201 {
  position:absolute;
  left:20px;
  top:193px;
  width:380px;
  height:55px;
}
#u4202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4202 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4203 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4204 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4205 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4206 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4207 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4208 {
  position:absolute;
  left:0px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4209 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4210 {
  position:absolute;
  left:125px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4211 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4212 {
  position:absolute;
  left:250px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4213 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4214 {
  position:absolute;
  left:20px;
  top:345px;
  width:380px;
  height:55px;
}
#u4215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4216 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4217 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4218 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4219 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4220 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4221 {
  position:absolute;
  left:0px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4222 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4223 {
  position:absolute;
  left:125px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4224 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4225 {
  position:absolute;
  left:250px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4226 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4227 {
  position:absolute;
  left:20px;
  top:495px;
  width:380px;
  height:55px;
}
#u4228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4228 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4229 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4230 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4231 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4232 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4233 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4234 {
  position:absolute;
  left:0px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4235 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4236 {
  position:absolute;
  left:125px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4237 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4238 {
  position:absolute;
  left:250px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4239 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4240 {
  position:absolute;
  left:20px;
  top:637px;
  width:380px;
  height:55px;
}
#u4241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4242 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4243 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4244 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4245 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u4246 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4247 {
  position:absolute;
  left:0px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4248 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4249 {
  position:absolute;
  left:125px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4250 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u4251 {
  position:absolute;
  left:250px;
  top:25px;
  width:125px;
  height:25px;
  font-size:12px;
  color:#FF9500;
}
#u4252 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u4253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4253 {
  position:absolute;
  left:124px;
  top:224px;
  width:20px;
  height:16px;
}
#u4254 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4255 {
  position:absolute;
  left:249px;
  top:375px;
  width:20px;
  height:16px;
}
#u4256 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4257 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u4258 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:70px;
}
#u4259 {
  position:absolute;
  left:21px;
  top:626px;
  width:373px;
  height:69px;
}
#u4260 {
  position:absolute;
  left:2px;
  top:26px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u4261 {
  position:absolute;
  left:31px;
  top:646px;
  width:85px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4262 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4261_ann {
  position:absolute;
  left:109px;
  top:642px;
  width:1px;
  height:1px;
}
#u4263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:51px;
}
#u4263 {
  position:absolute;
  left:278px;
  top:639px;
  width:104px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u4264 {
  position:absolute;
  left:2px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
