body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1962 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u1964 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1966 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1968 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u1970 {
  position:absolute;
  left:157px;
  top:46px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9500;
}
#u1971 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:33px;
  top:85px;
  width:354px;
  height:155px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1974 {
  position:absolute;
  left:2px;
  top:17px;
  width:345px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:50px;
  width:349px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1976 {
  position:absolute;
  left:2px;
  top:17px;
  width:345px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:100px;
  width:349px;
  height:50px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u1978 {
  position:absolute;
  left:2px;
  top:17px;
  width:345px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1979 {
  position:absolute;
  left:367px;
  top:101px;
  width:15px;
  height:25px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1981 {
  position:absolute;
  left:367px;
  top:148px;
  width:15px;
  height:25px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1983 {
  position:absolute;
  left:367px;
  top:199px;
  width:15px;
  height:25px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1985 {
  position:absolute;
  left:33px;
  top:135px;
  width:349px;
  height:1px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1987 {
  position:absolute;
  left:33px;
  top:185px;
  width:349px;
  height:1px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
}
#u1989 {
  position:absolute;
  left:33px;
  top:237px;
  width:349px;
  height:45px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:14px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:33px;
  top:282px;
  width:355px;
  height:221px;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:36px;
  font-size:12px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u1994 {
  position:absolute;
  left:175px;
  top:0px;
  width:175px;
  height:36px;
  font-size:12px;
  color:#999999;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:36px;
  width:175px;
  height:36px;
  font-size:12px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u1998 {
  position:absolute;
  left:175px;
  top:36px;
  width:175px;
  height:36px;
  font-size:12px;
  color:#999999;
}
#u1999 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:72px;
  width:175px;
  height:36px;
  font-size:12px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2002 {
  position:absolute;
  left:175px;
  top:72px;
  width:175px;
  height:36px;
  font-size:12px;
  color:#999999;
}
#u2003 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:108px;
  width:175px;
  height:36px;
  font-size:12px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2006 {
  position:absolute;
  left:175px;
  top:108px;
  width:175px;
  height:36px;
  font-size:12px;
  color:#999999;
}
#u2007 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:144px;
  width:175px;
  height:36px;
  font-size:12px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2010 {
  position:absolute;
  left:175px;
  top:144px;
  width:175px;
  height:36px;
  font-size:12px;
  color:#999999;
}
#u2011 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:180px;
  width:175px;
  height:36px;
  font-size:12px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:37px;
}
#u2014 {
  position:absolute;
  left:175px;
  top:180px;
  width:175px;
  height:36px;
  font-size:12px;
  color:#999999;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u1991_ann {
  position:absolute;
  left:376px;
  top:278px;
  width:1px;
  height:1px;
}
#u2016 {
  position:absolute;
  left:33px;
  top:237px;
  width:354px;
  height:50px;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:46px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:45px;
  font-size:14px;
  color:#999999;
}
#u2018 {
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
}
#u2019 {
  position:absolute;
  left:175px;
  top:0px;
  width:174px;
  height:45px;
  font-size:14px;
  color:#FF9500;
}
#u2020 {
  position:absolute;
  left:2px;
  top:14px;
  width:170px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
