body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:685px;
}
#u1585 {
  position:absolute;
  left:0px;
  top:685px;
  width:1366px;
  height:685px;
}
#u1586 {
  position:absolute;
  left:2px;
  top:334px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:685px;
}
#u1587 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:685px;
}
#u1588 {
  position:absolute;
  left:2px;
  top:334px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:1257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1589 {
  position:absolute;
  left:66px;
  top:92px;
  width:1222px;
  height:1257px;
}
#u1590 {
  position:absolute;
  left:2px;
  top:620px;
  width:1218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1591 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:76px;
}
#u1592 {
  position:absolute;
  left:2px;
  top:30px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1593 {
  position:absolute;
  left:62px;
  top:11px;
  width:325px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1594 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u1595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#B0461C;
}
#u1595 {
  position:absolute;
  left:66px;
  top:92px;
  width:1222px;
  height:170px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#B0461C;
}
#u1596 {
  position:absolute;
  left:2px;
  top:54px;
  width:1218px;
  word-wrap:break-word;
}
#u1597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:1064px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Regular', '新細明體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u1597 {
  position:absolute;
  left:119px;
  top:262px;
  width:1128px;
  height:1064px;
  font-family:'新細明體 Regular', '新細明體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u1598 {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  word-wrap:break-word;
}
