body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u4660 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4661 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u4662 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u4663 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u4664 {
  position:absolute;
  left:169px;
  top:49px;
  width:80px;
  height:23px;
  font-size:16px;
  color:#FF9500;
}
#u4665 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4666 {
  position:absolute;
  left:32px;
  top:48px;
  width:30px;
  height:30px;
}
#u4667 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:600px;
}
#u4668 {
  position:absolute;
  left:21px;
  top:87px;
  width:373px;
  height:599px;
}
#u4669 {
  position:absolute;
  left:2px;
  top:292px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:218px;
}
#u4670 {
  position:absolute;
  left:21px;
  top:100px;
  width:373px;
  height:217px;
}
#u4671 {
  position:absolute;
  left:2px;
  top:100px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:56px;
}
#u4672 {
  position:absolute;
  left:32px;
  top:107px;
  width:300px;
  height:55px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u4673 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u4674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4674 {
  position:absolute;
  left:32px;
  top:227px;
  width:80px;
  height:80px;
}
#u4675 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u4676 {
  position:absolute;
  left:306px;
  top:48px;
  width:80px;
  height:23px;
  font-size:14px;
  color:#FF9500;
  text-align:right;
}
#u4677 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
