body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:656px;
}
#u11535 {
  position:absolute;
  left:14px;
  top:55px;
  width:1189px;
  height:656px;
}
#u11536 {
  position:absolute;
  left:2px;
  top:320px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:41px;
}
#u11537 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u11538 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u11539 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u11540 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u11541 {
  position:absolute;
  left:1129px;
  top:127px;
  width:58px;
  height:511px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:752px;
}
#u11542 {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:751px;
}
#u11543 {
  position:absolute;
  left:2px;
  top:368px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:616px;
}
#u11544 {
  position:absolute;
  left:167px;
  top:70px;
  width:752px;
  height:615px;
}
#u11545 {
  position:absolute;
  left:2px;
  top:300px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u11546 {
  position:absolute;
  left:184px;
  top:77px;
  width:300px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u11547 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u11548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11548 {
  position:absolute;
  left:878px;
  top:77px;
  width:30px;
  height:30px;
}
#u11549 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:492px;
}
#u11550 {
  position:absolute;
  left:202px;
  top:127px;
  width:683px;
  height:492px;
}
#u11551 {
  position:absolute;
  left:2px;
  top:238px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u11552 {
  position:absolute;
  left:660px;
  top:609px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#666666;
}
#u11553 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u11554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u11554 {
  position:absolute;
  left:769px;
  top:609px;
  width:99px;
  height:51px;
  font-size:16px;
  color:#FFFFFF;
}
#u11555 {
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u11556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:51px;
}
#u11556 {
  position:absolute;
  left:167px;
  top:77px;
  width:7px;
  height:50px;
}
#u11557 {
  position:absolute;
  left:2px;
  top:17px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
