body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:1201px;
}
#u9116 {
  position:absolute;
  left:0px;
  top:0px;
  width:1376px;
  height:1201px;
}
#u9117 {
  position:absolute;
  left:2px;
  top:592px;
  width:1372px;
  visibility:hidden;
  word-wrap:break-word;
}
