body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:493px;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:493px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:238px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:33px;
  background:inherit;
  background-color:rgba(57, 156, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:33px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:11px;
  top:9px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:444px;
}
#u1310 {
  position:absolute;
  left:246px;
  top:44px;
  width:1px;
  height:443px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:214px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:447px;
}
#u1312 {
  position:absolute;
  left:5px;
  top:40px;
  width:236px;
  height:447px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:216px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:375px;
}
#u1314 {
  position:absolute;
  left:345px;
  top:81px;
  width:550px;
  height:365px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:174px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1316 {
  position:absolute;
  left:992px;
  top:3px;
  width:25px;
  height:25px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
