body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:838px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:41px;
}
#u11202 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u11203 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u11204 {
  position:absolute;
  left:14px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u11205 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u11206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:41px;
}
#u11206 {
  position:absolute;
  left:42px;
  top:66px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u11207 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u11208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11208 {
  position:absolute;
  left:270px;
  top:72px;
  width:30px;
  height:30px;
}
#u11209 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:235px;
}
#u11210 {
  position:absolute;
  left:604px;
  top:197px;
  width:234px;
  height:235px;
}
#u11211 {
  position:absolute;
  left:2px;
  top:110px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:397px;
}
#u11212 {
  position:absolute;
  left:42px;
  top:116px;
  width:514px;
  height:396px;
}
#u11213 {
  position:absolute;
  left:2px;
  top:190px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:41px;
}
#u11214 {
  position:absolute;
  left:314px;
  top:66px;
  width:262px;
  height:40px;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u11215 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  word-wrap:break-word;
}
#u11216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11216 {
  position:absolute;
  left:542px;
  top:72px;
  width:30px;
  height:30px;
}
#u11217 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:1383px;
}
#u11218 {
  position:absolute;
  left:42px;
  top:577px;
  width:588px;
  height:1383px;
}
#u11219 {
  position:absolute;
  left:2px;
  top:684px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:36px;
}
#u11220 {
  position:absolute;
  left:42px;
  top:542px;
  width:300px;
  height:35px;
  color:#FF0000;
  text-align:left;
}
#u11221 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
