body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8686 {
  position:absolute;
  left:39px;
  top:18px;
  width:945px;
  height:2819px;
}
#u8687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8687 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u8688 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8689 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u8690 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u8691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8691 {
  position:absolute;
  left:240px;
  top:0px;
  width:300px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u8692 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u8693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8693 {
  position:absolute;
  left:540px;
  top:0px;
  width:300px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u8694 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u8695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u8695 {
  position:absolute;
  left:840px;
  top:0px;
  width:100px;
  height:45px;
  font-size:16px;
  color:#FFFFFF;
}
#u8696 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u8697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8697 {
  position:absolute;
  left:0px;
  top:45px;
  width:120px;
  height:45px;
  color:#6B6B6B;
}
#u8698 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8699 {
  position:absolute;
  left:120px;
  top:45px;
  width:120px;
  height:45px;
}
#u8700 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8701 {
  position:absolute;
  left:240px;
  top:45px;
  width:300px;
  height:45px;
}
#u8702 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8703 {
  position:absolute;
  left:540px;
  top:45px;
  width:300px;
  height:45px;
}
#u8704 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u8705 {
  position:absolute;
  left:840px;
  top:45px;
  width:100px;
  height:45px;
}
#u8706 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8707 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:45px;
}
#u8708 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8709 {
  position:absolute;
  left:120px;
  top:90px;
  width:120px;
  height:45px;
}
#u8710 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8711 {
  position:absolute;
  left:240px;
  top:90px;
  width:300px;
  height:45px;
}
#u8712 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8713 {
  position:absolute;
  left:540px;
  top:90px;
  width:300px;
  height:45px;
}
#u8714 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u8715 {
  position:absolute;
  left:840px;
  top:90px;
  width:100px;
  height:45px;
}
#u8716 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8717 {
  position:absolute;
  left:0px;
  top:135px;
  width:120px;
  height:45px;
}
#u8718 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8719 {
  position:absolute;
  left:120px;
  top:135px;
  width:120px;
  height:45px;
}
#u8720 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8721 {
  position:absolute;
  left:240px;
  top:135px;
  width:300px;
  height:45px;
}
#u8722 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u8723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8723 {
  position:absolute;
  left:540px;
  top:135px;
  width:300px;
  height:45px;
}
#u8724 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u8725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u8725 {
  position:absolute;
  left:840px;
  top:135px;
  width:100px;
  height:45px;
}
#u8726 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8727 {
  position:absolute;
  left:0px;
  top:180px;
  width:120px;
  height:45px;
}
#u8728 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u8729 {
  position:absolute;
  left:120px;
  top:180px;
  width:120px;
  height:45px;
}
#u8730 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u8731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8731 {
  position:absolute;
  left:240px;
  top:180px;
  width:300px;
  height:45px;
}
#u8732 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
}
#u8733 {
  position:absolute;
  left:540px;
  top:180px;
  width:300px;
  height:45px;
}
#u8734 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u8735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u8735 {
  position:absolute;
  left:840px;
  top:180px;
  width:100px;
  height:45px;
}
#u8736 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:66px;
}
#u8737 {
  position:absolute;
  left:0px;
  top:225px;
  width:120px;
  height:65px;
}
#u8738 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:66px;
}
#u8739 {
  position:absolute;
  left:120px;
  top:225px;
  width:120px;
  height:65px;
}
#u8740 {
  position:absolute;
  left:2px;
  top:24px;
  width:116px;
  word-wrap:break-word;
}
#u8741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u8741 {
  position:absolute;
  left:240px;
  top:225px;
  width:300px;
  height:65px;
}
#u8742 {
  position:absolute;
  left:2px;
  top:24px;
  width:296px;
  word-wrap:break-word;
}
#u8743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u8743 {
  position:absolute;
  left:540px;
  top:225px;
  width:300px;
  height:65px;
}
#u8744 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u8745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:66px;
}
#u8745 {
  position:absolute;
  left:840px;
  top:225px;
  width:100px;
  height:65px;
}
#u8746 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u8747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:53px;
}
#u8747 {
  position:absolute;
  left:0px;
  top:290px;
  width:120px;
  height:52px;
}
#u8748 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:53px;
}
#u8749 {
  position:absolute;
  left:120px;
  top:290px;
  width:120px;
  height:52px;
}
#u8750 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u8751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:53px;
}
#u8751 {
  position:absolute;
  left:240px;
  top:290px;
  width:300px;
  height:52px;
}
#u8752 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:53px;
}
#u8753 {
  position:absolute;
  left:540px;
  top:290px;
  width:300px;
  height:52px;
}
#u8754 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:53px;
}
#u8755 {
  position:absolute;
  left:840px;
  top:290px;
  width:100px;
  height:52px;
}
#u8756 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u8757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:53px;
}
#u8757 {
  position:absolute;
  left:0px;
  top:342px;
  width:120px;
  height:52px;
}
#u8758 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:53px;
}
#u8759 {
  position:absolute;
  left:120px;
  top:342px;
  width:120px;
  height:52px;
}
#u8760 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u8761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:53px;
}
#u8761 {
  position:absolute;
  left:240px;
  top:342px;
  width:300px;
  height:52px;
}
#u8762 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:53px;
}
#u8763 {
  position:absolute;
  left:540px;
  top:342px;
  width:300px;
  height:52px;
}
#u8764 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:53px;
}
#u8765 {
  position:absolute;
  left:840px;
  top:342px;
  width:100px;
  height:52px;
}
#u8766 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u8767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8767 {
  position:absolute;
  left:0px;
  top:394px;
  width:120px;
  height:68px;
}
#u8768 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8769 {
  position:absolute;
  left:120px;
  top:394px;
  width:120px;
  height:68px;
}
#u8770 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8771 {
  position:absolute;
  left:240px;
  top:394px;
  width:300px;
  height:68px;
}
#u8772 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8773 {
  position:absolute;
  left:540px;
  top:394px;
  width:300px;
  height:68px;
}
#u8774 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8775 {
  position:absolute;
  left:840px;
  top:394px;
  width:100px;
  height:68px;
}
#u8776 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8777 {
  position:absolute;
  left:0px;
  top:462px;
  width:120px;
  height:68px;
}
#u8778 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8779 {
  position:absolute;
  left:120px;
  top:462px;
  width:120px;
  height:68px;
}
#u8780 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8781 {
  position:absolute;
  left:240px;
  top:462px;
  width:300px;
  height:68px;
}
#u8782 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8783 {
  position:absolute;
  left:540px;
  top:462px;
  width:300px;
  height:68px;
}
#u8784 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8785 {
  position:absolute;
  left:840px;
  top:462px;
  width:100px;
  height:68px;
}
#u8786 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8787 {
  position:absolute;
  left:0px;
  top:530px;
  width:120px;
  height:68px;
}
#u8788 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8789 {
  position:absolute;
  left:120px;
  top:530px;
  width:120px;
  height:68px;
}
#u8790 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8791 {
  position:absolute;
  left:240px;
  top:530px;
  width:300px;
  height:68px;
}
#u8792 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8793 {
  position:absolute;
  left:540px;
  top:530px;
  width:300px;
  height:68px;
}
#u8794 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8795 {
  position:absolute;
  left:840px;
  top:530px;
  width:100px;
  height:68px;
}
#u8796 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8797 {
  position:absolute;
  left:0px;
  top:598px;
  width:120px;
  height:68px;
}
#u8798 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8799 {
  position:absolute;
  left:120px;
  top:598px;
  width:120px;
  height:68px;
}
#u8800 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8801 {
  position:absolute;
  left:240px;
  top:598px;
  width:300px;
  height:68px;
}
#u8802 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8803 {
  position:absolute;
  left:540px;
  top:598px;
  width:300px;
  height:68px;
}
#u8804 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8805 {
  position:absolute;
  left:840px;
  top:598px;
  width:100px;
  height:68px;
}
#u8806 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8807 {
  position:absolute;
  left:0px;
  top:666px;
  width:120px;
  height:68px;
}
#u8808 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8809 {
  position:absolute;
  left:120px;
  top:666px;
  width:120px;
  height:68px;
}
#u8810 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8811 {
  position:absolute;
  left:240px;
  top:666px;
  width:300px;
  height:68px;
}
#u8812 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8813 {
  position:absolute;
  left:540px;
  top:666px;
  width:300px;
  height:68px;
}
#u8814 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8815 {
  position:absolute;
  left:840px;
  top:666px;
  width:100px;
  height:68px;
}
#u8816 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u8817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8817 {
  position:absolute;
  left:0px;
  top:734px;
  width:120px;
  height:68px;
}
#u8818 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8819 {
  position:absolute;
  left:120px;
  top:734px;
  width:120px;
  height:68px;
}
#u8820 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8821 {
  position:absolute;
  left:240px;
  top:734px;
  width:300px;
  height:68px;
}
#u8822 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8823 {
  position:absolute;
  left:540px;
  top:734px;
  width:300px;
  height:68px;
}
#u8824 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8825 {
  position:absolute;
  left:840px;
  top:734px;
  width:100px;
  height:68px;
}
#u8826 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8827 {
  position:absolute;
  left:0px;
  top:802px;
  width:120px;
  height:68px;
}
#u8828 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8829 {
  position:absolute;
  left:120px;
  top:802px;
  width:120px;
  height:68px;
}
#u8830 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8831 {
  position:absolute;
  left:240px;
  top:802px;
  width:300px;
  height:68px;
}
#u8832 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8833 {
  position:absolute;
  left:540px;
  top:802px;
  width:300px;
  height:68px;
}
#u8834 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8835 {
  position:absolute;
  left:840px;
  top:802px;
  width:100px;
  height:68px;
}
#u8836 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8837 {
  position:absolute;
  left:0px;
  top:870px;
  width:120px;
  height:68px;
}
#u8838 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8839 {
  position:absolute;
  left:120px;
  top:870px;
  width:120px;
  height:68px;
}
#u8840 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8841 {
  position:absolute;
  left:240px;
  top:870px;
  width:300px;
  height:68px;
}
#u8842 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u8843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8843 {
  position:absolute;
  left:540px;
  top:870px;
  width:300px;
  height:68px;
}
#u8844 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8845 {
  position:absolute;
  left:840px;
  top:870px;
  width:100px;
  height:68px;
}
#u8846 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8847 {
  position:absolute;
  left:0px;
  top:938px;
  width:120px;
  height:68px;
}
#u8848 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8849 {
  position:absolute;
  left:120px;
  top:938px;
  width:120px;
  height:68px;
}
#u8850 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8851 {
  position:absolute;
  left:240px;
  top:938px;
  width:300px;
  height:68px;
}
#u8852 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8853 {
  position:absolute;
  left:540px;
  top:938px;
  width:300px;
  height:68px;
}
#u8854 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8855 {
  position:absolute;
  left:840px;
  top:938px;
  width:100px;
  height:68px;
}
#u8856 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8857 {
  position:absolute;
  left:0px;
  top:1006px;
  width:120px;
  height:68px;
}
#u8858 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8859 {
  position:absolute;
  left:120px;
  top:1006px;
  width:120px;
  height:68px;
}
#u8860 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u8861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8861 {
  position:absolute;
  left:240px;
  top:1006px;
  width:300px;
  height:68px;
}
#u8862 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u8863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8863 {
  position:absolute;
  left:540px;
  top:1006px;
  width:300px;
  height:68px;
}
#u8864 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8865 {
  position:absolute;
  left:840px;
  top:1006px;
  width:100px;
  height:68px;
}
#u8866 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8867 {
  position:absolute;
  left:0px;
  top:1074px;
  width:120px;
  height:68px;
}
#u8868 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8869 {
  position:absolute;
  left:120px;
  top:1074px;
  width:120px;
  height:68px;
}
#u8870 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8871 {
  position:absolute;
  left:240px;
  top:1074px;
  width:300px;
  height:68px;
}
#u8872 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8873 {
  position:absolute;
  left:540px;
  top:1074px;
  width:300px;
  height:68px;
}
#u8874 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8875 {
  position:absolute;
  left:840px;
  top:1074px;
  width:100px;
  height:68px;
}
#u8876 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8877 {
  position:absolute;
  left:0px;
  top:1142px;
  width:120px;
  height:68px;
}
#u8878 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8879 {
  position:absolute;
  left:120px;
  top:1142px;
  width:120px;
  height:68px;
}
#u8880 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8881 {
  position:absolute;
  left:240px;
  top:1142px;
  width:300px;
  height:68px;
}
#u8882 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8883 {
  position:absolute;
  left:540px;
  top:1142px;
  width:300px;
  height:68px;
}
#u8884 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8885 {
  position:absolute;
  left:840px;
  top:1142px;
  width:100px;
  height:68px;
}
#u8886 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8887 {
  position:absolute;
  left:0px;
  top:1210px;
  width:120px;
  height:68px;
}
#u8888 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8889 {
  position:absolute;
  left:120px;
  top:1210px;
  width:120px;
  height:68px;
}
#u8890 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8891 {
  position:absolute;
  left:240px;
  top:1210px;
  width:300px;
  height:68px;
}
#u8892 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8893 {
  position:absolute;
  left:540px;
  top:1210px;
  width:300px;
  height:68px;
}
#u8894 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8895 {
  position:absolute;
  left:840px;
  top:1210px;
  width:100px;
  height:68px;
}
#u8896 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8897 {
  position:absolute;
  left:0px;
  top:1278px;
  width:120px;
  height:68px;
}
#u8898 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8899 {
  position:absolute;
  left:120px;
  top:1278px;
  width:120px;
  height:68px;
}
#u8900 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8901 {
  position:absolute;
  left:240px;
  top:1278px;
  width:300px;
  height:68px;
}
#u8902 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8903 {
  position:absolute;
  left:540px;
  top:1278px;
  width:300px;
  height:68px;
}
#u8904 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8905 {
  position:absolute;
  left:840px;
  top:1278px;
  width:100px;
  height:68px;
}
#u8906 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8907 {
  position:absolute;
  left:0px;
  top:1346px;
  width:120px;
  height:68px;
}
#u8908 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8909 {
  position:absolute;
  left:120px;
  top:1346px;
  width:120px;
  height:68px;
}
#u8910 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u8911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8911 {
  position:absolute;
  left:240px;
  top:1346px;
  width:300px;
  height:68px;
}
#u8912 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8913 {
  position:absolute;
  left:540px;
  top:1346px;
  width:300px;
  height:68px;
}
#u8914 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8915 {
  position:absolute;
  left:840px;
  top:1346px;
  width:100px;
  height:68px;
}
#u8916 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
}
#u8917 {
  position:absolute;
  left:0px;
  top:1414px;
  width:120px;
  height:109px;
}
#u8918 {
  position:absolute;
  left:2px;
  top:46px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:110px;
}
#u8919 {
  position:absolute;
  left:120px;
  top:1414px;
  width:120px;
  height:109px;
}
#u8920 {
  position:absolute;
  left:2px;
  top:46px;
  width:116px;
  word-wrap:break-word;
}
#u8921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:110px;
}
#u8921 {
  position:absolute;
  left:240px;
  top:1414px;
  width:300px;
  height:109px;
}
#u8922 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:110px;
}
#u8923 {
  position:absolute;
  left:540px;
  top:1414px;
  width:300px;
  height:109px;
}
#u8924 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u8925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:110px;
}
#u8925 {
  position:absolute;
  left:840px;
  top:1414px;
  width:100px;
  height:109px;
}
#u8926 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  word-wrap:break-word;
}
#u8927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8927 {
  position:absolute;
  left:0px;
  top:1523px;
  width:120px;
  height:68px;
}
#u8928 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:69px;
}
#u8929 {
  position:absolute;
  left:120px;
  top:1523px;
  width:120px;
  height:68px;
}
#u8930 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u8931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8931 {
  position:absolute;
  left:240px;
  top:1523px;
  width:300px;
  height:68px;
}
#u8932 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:69px;
}
#u8933 {
  position:absolute;
  left:540px;
  top:1523px;
  width:300px;
  height:68px;
}
#u8934 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u8935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u8935 {
  position:absolute;
  left:840px;
  top:1523px;
  width:100px;
  height:68px;
}
#u8936 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:147px;
}
#u8937 {
  position:absolute;
  left:0px;
  top:1591px;
  width:120px;
  height:146px;
  color:#6B6B6B;
}
#u8938 {
  position:absolute;
  left:2px;
  top:65px;
  width:116px;
  word-wrap:break-word;
}
#u8939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:147px;
}
#u8939 {
  position:absolute;
  left:120px;
  top:1591px;
  width:120px;
  height:146px;
}
#u8940 {
  position:absolute;
  left:2px;
  top:65px;
  width:116px;
  word-wrap:break-word;
}
#u8941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:147px;
}
#u8941 {
  position:absolute;
  left:240px;
  top:1591px;
  width:300px;
  height:146px;
}
#u8942 {
  position:absolute;
  left:2px;
  top:49px;
  width:296px;
  word-wrap:break-word;
}
#u8943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:147px;
}
#u8943 {
  position:absolute;
  left:540px;
  top:1591px;
  width:300px;
  height:146px;
}
#u8944 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u8945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:147px;
}
#u8945 {
  position:absolute;
  left:840px;
  top:1591px;
  width:100px;
  height:146px;
}
#u8946 {
  position:absolute;
  left:2px;
  top:25px;
  width:96px;
  word-wrap:break-word;
}
#u8947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8947 {
  position:absolute;
  left:0px;
  top:1737px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u8948 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8949 {
  position:absolute;
  left:120px;
  top:1737px;
  width:120px;
  height:84px;
}
#u8950 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u8951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u8951 {
  position:absolute;
  left:240px;
  top:1737px;
  width:300px;
  height:84px;
}
#u8952 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u8953 {
  position:absolute;
  left:540px;
  top:1737px;
  width:300px;
  height:84px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u8955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u8955 {
  position:absolute;
  left:840px;
  top:1737px;
  width:100px;
  height:84px;
}
#u8956 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u8957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8957 {
  position:absolute;
  left:0px;
  top:1821px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u8958 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8959 {
  position:absolute;
  left:120px;
  top:1821px;
  width:120px;
  height:84px;
}
#u8960 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u8961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u8961 {
  position:absolute;
  left:240px;
  top:1821px;
  width:300px;
  height:84px;
}
#u8962 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u8963 {
  position:absolute;
  left:540px;
  top:1821px;
  width:300px;
  height:84px;
}
#u8964 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u8965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u8965 {
  position:absolute;
  left:840px;
  top:1821px;
  width:100px;
  height:84px;
}
#u8966 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u8967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:76px;
}
#u8967 {
  position:absolute;
  left:0px;
  top:1905px;
  width:120px;
  height:75px;
  color:#6B6B6B;
}
#u8968 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:76px;
}
#u8969 {
  position:absolute;
  left:120px;
  top:1905px;
  width:120px;
  height:75px;
}
#u8970 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  word-wrap:break-word;
}
#u8971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:76px;
}
#u8971 {
  position:absolute;
  left:240px;
  top:1905px;
  width:300px;
  height:75px;
}
#u8972 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u8973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:76px;
}
#u8973 {
  position:absolute;
  left:540px;
  top:1905px;
  width:300px;
  height:75px;
}
#u8974 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  word-wrap:break-word;
}
#u8975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:76px;
}
#u8975 {
  position:absolute;
  left:840px;
  top:1905px;
  width:100px;
  height:75px;
}
#u8976 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  word-wrap:break-word;
}
#u8977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:63px;
}
#u8977 {
  position:absolute;
  left:0px;
  top:1980px;
  width:120px;
  height:62px;
  color:#6B6B6B;
}
#u8978 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:63px;
}
#u8979 {
  position:absolute;
  left:120px;
  top:1980px;
  width:120px;
  height:62px;
}
#u8980 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  word-wrap:break-word;
}
#u8981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:63px;
}
#u8981 {
  position:absolute;
  left:240px;
  top:1980px;
  width:300px;
  height:62px;
}
#u8982 {
  position:absolute;
  left:2px;
  top:23px;
  width:296px;
  word-wrap:break-word;
}
#u8983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:63px;
}
#u8983 {
  position:absolute;
  left:540px;
  top:1980px;
  width:300px;
  height:62px;
}
#u8984 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u8985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
}
#u8985 {
  position:absolute;
  left:840px;
  top:1980px;
  width:100px;
  height:62px;
}
#u8986 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u8987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8987 {
  position:absolute;
  left:0px;
  top:2042px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u8988 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u8989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8989 {
  position:absolute;
  left:120px;
  top:2042px;
  width:120px;
  height:84px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u8991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u8991 {
  position:absolute;
  left:240px;
  top:2042px;
  width:300px;
  height:84px;
}
#u8992 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u8993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u8993 {
  position:absolute;
  left:540px;
  top:2042px;
  width:300px;
  height:84px;
}
#u8994 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u8995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u8995 {
  position:absolute;
  left:840px;
  top:2042px;
  width:100px;
  height:84px;
}
#u8996 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u8997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8997 {
  position:absolute;
  left:0px;
  top:2126px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u8998 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u8999 {
  position:absolute;
  left:120px;
  top:2126px;
  width:120px;
  height:84px;
}
#u9000 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9001 {
  position:absolute;
  left:240px;
  top:2126px;
  width:300px;
  height:84px;
}
#u9002 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u9003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9003 {
  position:absolute;
  left:540px;
  top:2126px;
  width:300px;
  height:84px;
}
#u9004 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u9005 {
  position:absolute;
  left:840px;
  top:2126px;
  width:100px;
  height:84px;
}
#u9006 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u9007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9007 {
  position:absolute;
  left:0px;
  top:2210px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u9008 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9009 {
  position:absolute;
  left:120px;
  top:2210px;
  width:120px;
  height:84px;
}
#u9010 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9011 {
  position:absolute;
  left:240px;
  top:2210px;
  width:300px;
  height:84px;
}
#u9012 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9013 {
  position:absolute;
  left:540px;
  top:2210px;
  width:300px;
  height:84px;
}
#u9014 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u9015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u9015 {
  position:absolute;
  left:840px;
  top:2210px;
  width:100px;
  height:84px;
}
#u9016 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u9017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9017 {
  position:absolute;
  left:0px;
  top:2294px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u9018 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9019 {
  position:absolute;
  left:120px;
  top:2294px;
  width:120px;
  height:84px;
}
#u9020 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9021 {
  position:absolute;
  left:240px;
  top:2294px;
  width:300px;
  height:84px;
}
#u9022 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u9023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9023 {
  position:absolute;
  left:540px;
  top:2294px;
  width:300px;
  height:84px;
}
#u9024 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u9025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u9025 {
  position:absolute;
  left:840px;
  top:2294px;
  width:100px;
  height:84px;
}
#u9026 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u9027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9027 {
  position:absolute;
  left:0px;
  top:2378px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u9028 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9029 {
  position:absolute;
  left:120px;
  top:2378px;
  width:120px;
  height:84px;
}
#u9030 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9031 {
  position:absolute;
  left:240px;
  top:2378px;
  width:300px;
  height:84px;
}
#u9032 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u9033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9033 {
  position:absolute;
  left:540px;
  top:2378px;
  width:300px;
  height:84px;
}
#u9034 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u9035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u9035 {
  position:absolute;
  left:840px;
  top:2378px;
  width:100px;
  height:84px;
}
#u9036 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u9037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9037 {
  position:absolute;
  left:0px;
  top:2462px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u9038 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9039 {
  position:absolute;
  left:120px;
  top:2462px;
  width:120px;
  height:84px;
}
#u9040 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9041 {
  position:absolute;
  left:240px;
  top:2462px;
  width:300px;
  height:84px;
}
#u9042 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u9043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9043 {
  position:absolute;
  left:540px;
  top:2462px;
  width:300px;
  height:84px;
}
#u9044 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u9045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u9045 {
  position:absolute;
  left:840px;
  top:2462px;
  width:100px;
  height:84px;
}
#u9046 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u9047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9047 {
  position:absolute;
  left:0px;
  top:2546px;
  width:120px;
  height:84px;
  color:#6B6B6B;
}
#u9048 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:85px;
}
#u9049 {
  position:absolute;
  left:120px;
  top:2546px;
  width:120px;
  height:84px;
}
#u9050 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  word-wrap:break-word;
}
#u9051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9051 {
  position:absolute;
  left:240px;
  top:2546px;
  width:300px;
  height:84px;
}
#u9052 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u9053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:85px;
}
#u9053 {
  position:absolute;
  left:540px;
  top:2546px;
  width:300px;
  height:84px;
}
#u9054 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u9055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:85px;
}
#u9055 {
  position:absolute;
  left:840px;
  top:2546px;
  width:100px;
  height:84px;
}
#u9056 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u9057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:62px;
}
#u9057 {
  position:absolute;
  left:0px;
  top:2630px;
  width:120px;
  height:61px;
  color:#6B6B6B;
}
#u9058 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u9059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:62px;
}
#u9059 {
  position:absolute;
  left:120px;
  top:2630px;
  width:120px;
  height:61px;
}
#u9060 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u9061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:62px;
}
#u9061 {
  position:absolute;
  left:240px;
  top:2630px;
  width:300px;
  height:61px;
}
#u9062 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u9063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:62px;
}
#u9063 {
  position:absolute;
  left:540px;
  top:2630px;
  width:300px;
  height:61px;
}
#u9064 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u9065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:62px;
}
#u9065 {
  position:absolute;
  left:840px;
  top:2630px;
  width:100px;
  height:61px;
}
#u9066 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:63px;
}
#u9067 {
  position:absolute;
  left:0px;
  top:2691px;
  width:120px;
  height:62px;
  color:#6B6B6B;
}
#u9068 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:63px;
}
#u9069 {
  position:absolute;
  left:120px;
  top:2691px;
  width:120px;
  height:62px;
}
#u9070 {
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  word-wrap:break-word;
}
#u9071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:63px;
}
#u9071 {
  position:absolute;
  left:240px;
  top:2691px;
  width:300px;
  height:62px;
}
#u9072 {
  position:absolute;
  left:2px;
  top:23px;
  width:296px;
  word-wrap:break-word;
}
#u9073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:63px;
}
#u9073 {
  position:absolute;
  left:540px;
  top:2691px;
  width:300px;
  height:62px;
}
#u9074 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u9075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
}
#u9075 {
  position:absolute;
  left:840px;
  top:2691px;
  width:100px;
  height:62px;
}
#u9076 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u9077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:62px;
}
#u9077 {
  position:absolute;
  left:0px;
  top:2753px;
  width:120px;
  height:61px;
  color:#6B6B6B;
}
#u9078 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:62px;
}
#u9079 {
  position:absolute;
  left:120px;
  top:2753px;
  width:120px;
  height:61px;
}
#u9080 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u9081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:62px;
}
#u9081 {
  position:absolute;
  left:240px;
  top:2753px;
  width:300px;
  height:61px;
}
#u9082 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u9083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:62px;
}
#u9083 {
  position:absolute;
  left:540px;
  top:2753px;
  width:300px;
  height:61px;
}
#u9084 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u9085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:62px;
}
#u9085 {
  position:absolute;
  left:840px;
  top:2753px;
  width:100px;
  height:61px;
}
#u9086 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u9087 {
  position:absolute;
  left:39px;
  top:63px;
  width:126px;
  height:356px;
}
#u9088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:352px;
}
#u9088 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:351px;
  color:#6B6B6B;
}
#u9089 {
  position:absolute;
  left:2px;
  top:168px;
  width:117px;
  word-wrap:break-word;
}
#u9090 {
  position:absolute;
  left:39px;
  top:547px;
  width:126px;
  height:278px;
}
#u9091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:274px;
}
#u9091 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:273px;
}
#u9092 {
  position:absolute;
  left:2px;
  top:128px;
  width:117px;
  word-wrap:break-word;
}
#u9093 {
  position:absolute;
  left:39px;
  top:819px;
  width:126px;
  height:483px;
}
#u9094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:479px;
}
#u9094 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:478px;
}
#u9095 {
  position:absolute;
  left:2px;
  top:231px;
  width:117px;
  word-wrap:break-word;
}
#u9096 {
  position:absolute;
  left:39px;
  top:1296px;
  width:126px;
  height:319px;
}
#u9097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:315px;
}
#u9097 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:314px;
}
#u9098 {
  position:absolute;
  left:2px;
  top:149px;
  width:117px;
  word-wrap:break-word;
}
#u9099 {
  position:absolute;
  left:39px;
  top:1609px;
  width:126px;
  height:457px;
}
#u9100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:453px;
}
#u9100 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:452px;
  color:#6B6B6B;
}
#u9101 {
  position:absolute;
  left:2px;
  top:218px;
  width:117px;
  word-wrap:break-word;
}
#u9102 {
  position:absolute;
  left:39px;
  top:2060px;
  width:126px;
  height:342px;
}
#u9103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:338px;
}
#u9103 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:337px;
  color:#6B6B6B;
}
#u9104 {
  position:absolute;
  left:2px;
  top:160px;
  width:117px;
  word-wrap:break-word;
}
#u9105 {
  position:absolute;
  left:39px;
  top:2396px;
  width:126px;
  height:176px;
}
#u9106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:172px;
}
#u9106 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:171px;
  color:#6B6B6B;
}
#u9107 {
  position:absolute;
  left:2px;
  top:78px;
  width:117px;
  word-wrap:break-word;
}
#u9108 {
  position:absolute;
  left:39px;
  top:413px;
  width:126px;
  height:140px;
}
#u9109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:136px;
}
#u9109 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:135px;
}
#u9110 {
  position:absolute;
  left:2px;
  top:60px;
  width:117px;
  word-wrap:break-word;
}
#u9111 {
  position:absolute;
  left:39px;
  top:2648px;
  width:126px;
  height:189px;
}
#u9112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:185px;
}
#u9112 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:184px;
  color:#6B6B6B;
}
#u9113 {
  position:absolute;
  left:2px;
  top:84px;
  width:117px;
  word-wrap:break-word;
}
