body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1499px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:793px;
}
#u12577 {
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:793px;
}
#u12578 {
  position:absolute;
  left:2px;
  top:388px;
  width:1495px;
  visibility:hidden;
  word-wrap:break-word;
}
