body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:685px;
}
#u1533 {
  position:absolute;
  left:0px;
  top:469px;
  width:1366px;
  height:685px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:334px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:685px;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:685px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:334px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:1062px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1537 {
  position:absolute;
  left:66px;
  top:92px;
  width:1222px;
  height:1062px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:523px;
  width:1218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1539 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:76px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:30px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1541 {
  position:absolute;
  left:62px;
  top:11px;
  width:325px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1542 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#B0461C;
}
#u1543 {
  position:absolute;
  left:66px;
  top:92px;
  width:1222px;
  height:170px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#B0461C;
}
#u1544 {
  position:absolute;
  left:2px;
  top:54px;
  width:1218px;
  word-wrap:break-word;
}
#u1545 {
  position:absolute;
  left:333px;
  top:262px;
  width:635px;
  height:345px;
  overflow:hidden;
}
#u1545_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:345px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1545_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:390px;
}
#u1546 {
  position:absolute;
  left:0px;
  top:-34px;
  width:636px;
  height:390px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:187px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548 {
  position:absolute;
  left:333px;
  top:631px;
  width:635px;
  height:345px;
  overflow:hidden;
}
#u1548_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:345px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1548_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:346px;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:346px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:165px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體 Regular', '新細明體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u1551 {
  position:absolute;
  left:291px;
  top:1001px;
  width:735px;
  height:112px;
  font-family:'新細明體 Regular', '新細明體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  word-wrap:break-word;
}
