body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:493px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:493px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:238px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:33px;
  background:inherit;
  background-color:rgba(57, 156, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:33px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1209 {
  position:absolute;
  left:11px;
  top:9px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:460px;
}
#u1211 {
  position:absolute;
  left:0px;
  top:33px;
  width:1022px;
  height:460px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:222px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:287px;
}
#u1213 {
  position:absolute;
  left:11px;
  top:52px;
  width:417px;
  height:287px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:136px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
}
#u1215 {
  position:absolute;
  left:11px;
  top:44px;
  width:116px;
  height:60px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 137, 8, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1217 {
  position:absolute;
  left:80px;
  top:437px;
  width:50px;
  height:30px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(233, 103, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1219 {
  position:absolute;
  left:150px;
  top:418px;
  width:50px;
  height:49px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:92px;
  background:inherit;
  background-color:rgba(178, 71, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1221 {
  position:absolute;
  left:220px;
  top:375px;
  width:50px;
  height:92px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:38px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(176, 70, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1223 {
  position:absolute;
  left:290px;
  top:418px;
  width:50px;
  height:49px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:80px;
  top:467px;
  width:55px;
  height:31px;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1227 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1228 {
  position:absolute;
  left:150px;
  top:467px;
  width:55px;
  height:31px;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1230 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:220px;
  top:467px;
  width:55px;
  height:31px;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1233 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1234 {
  position:absolute;
  left:290px;
  top:467px;
  width:55px;
  height:31px;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1236 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:360px;
  top:467px;
  width:55px;
  height:31px;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1240 {
  position:absolute;
  left:80px;
  top:409px;
  width:55px;
  height:31px;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1242 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1243 {
  position:absolute;
  left:150px;
  top:388px;
  width:55px;
  height:31px;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1245 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1246 {
  position:absolute;
  left:220px;
  top:349px;
  width:55px;
  height:31px;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1248 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1249 {
  position:absolute;
  left:290px;
  top:388px;
  width:55px;
  height:31px;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1251 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1252 {
  position:absolute;
  left:360px;
  top:409px;
  width:55px;
  height:31px;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1254 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 137, 8, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1255 {
  position:absolute;
  left:80px;
  top:437px;
  width:50px;
  height:30px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(233, 103, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1257 {
  position:absolute;
  left:150px;
  top:418px;
  width:50px;
  height:49px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:92px;
  background:inherit;
  background-color:rgba(178, 71, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1259 {
  position:absolute;
  left:220px;
  top:375px;
  width:50px;
  height:92px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:38px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(176, 70, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1261 {
  position:absolute;
  left:290px;
  top:418px;
  width:50px;
  height:49px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(157, 67, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1263 {
  position:absolute;
  left:360px;
  top:437px;
  width:50px;
  height:30px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265 {
  position:absolute;
  left:80px;
  top:467px;
  width:55px;
  height:31px;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1267 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1268 {
  position:absolute;
  left:150px;
  top:467px;
  width:55px;
  height:31px;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1270 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1271 {
  position:absolute;
  left:220px;
  top:467px;
  width:55px;
  height:31px;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1273 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1274 {
  position:absolute;
  left:290px;
  top:467px;
  width:55px;
  height:31px;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1276 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1277 {
  position:absolute;
  left:360px;
  top:467px;
  width:55px;
  height:31px;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#399CCE;
  text-align:left;
}
#u1280 {
  position:absolute;
  left:11px;
  top:36px;
  width:184px;
  height:39px;
  font-size:18px;
  color:#399CCE;
  text-align:left;
}
#u1281 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:453px;
  top:91px;
  width:543px;
  height:215px;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1284 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1285 {
  position:absolute;
  left:112px;
  top:0px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1286 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1287 {
  position:absolute;
  left:179px;
  top:0px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1288 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1289 {
  position:absolute;
  left:291px;
  top:0px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1290 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1291 {
  position:absolute;
  left:358px;
  top:0px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1292 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1293 {
  position:absolute;
  left:470px;
  top:0px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1294 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1295 {
  position:absolute;
  left:0px;
  top:35px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1296 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1297 {
  position:absolute;
  left:112px;
  top:35px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1298 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1299 {
  position:absolute;
  left:179px;
  top:35px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1300 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1301 {
  position:absolute;
  left:291px;
  top:35px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1302 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1303 {
  position:absolute;
  left:358px;
  top:35px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1304 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1305 {
  position:absolute;
  left:470px;
  top:35px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1306 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:70px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1309 {
  position:absolute;
  left:112px;
  top:70px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1310 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1311 {
  position:absolute;
  left:179px;
  top:70px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1312 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1313 {
  position:absolute;
  left:291px;
  top:70px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1314 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1315 {
  position:absolute;
  left:358px;
  top:70px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1317 {
  position:absolute;
  left:470px;
  top:70px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1318 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:105px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1320 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1321 {
  position:absolute;
  left:112px;
  top:105px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1322 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1323 {
  position:absolute;
  left:179px;
  top:105px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1324 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1325 {
  position:absolute;
  left:291px;
  top:105px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1326 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1327 {
  position:absolute;
  left:358px;
  top:105px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1329 {
  position:absolute;
  left:470px;
  top:105px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1330 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:140px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1332 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1333 {
  position:absolute;
  left:112px;
  top:140px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1334 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1335 {
  position:absolute;
  left:179px;
  top:140px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1336 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1337 {
  position:absolute;
  left:291px;
  top:140px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1338 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1339 {
  position:absolute;
  left:358px;
  top:140px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1340 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1341 {
  position:absolute;
  left:470px;
  top:140px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1342 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1343 {
  position:absolute;
  left:0px;
  top:175px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1344 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1345 {
  position:absolute;
  left:112px;
  top:175px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1346 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1347 {
  position:absolute;
  left:179px;
  top:175px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1349 {
  position:absolute;
  left:291px;
  top:175px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1350 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1351 {
  position:absolute;
  left:358px;
  top:175px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1352 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1353 {
  position:absolute;
  left:470px;
  top:175px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1354 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1355 {
  position:absolute;
  left:177px;
  top:48px;
  width:34px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u1358 {
  position:absolute;
  left:556px;
  top:344px;
  width:113px;
  height:113px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:48px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:116px;
}
#u1360 {
  position:absolute;
  left:772px;
  top:342px;
  width:117px;
  height:116px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1362 {
  position:absolute;
  left:582px;
  top:374px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1364 {
  position:absolute;
  left:635px;
  top:368px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1366 {
  position:absolute;
  left:798px;
  top:354px;
  width:32px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1367 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:830px;
  top:390px;
  width:32px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1370 {
  position:absolute;
  left:992px;
  top:3px;
  width:25px;
  height:25px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
