body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:493px;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:493px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:238px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:33px;
  background:inherit;
  background-color:rgba(57, 156, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:33px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:8px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1141 {
  position:absolute;
  left:11px;
  top:9px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:460px;
}
#u1143 {
  position:absolute;
  left:0px;
  top:33px;
  width:1022px;
  height:460px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:222px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:287px;
}
#u1145 {
  position:absolute;
  left:11px;
  top:52px;
  width:417px;
  height:287px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:136px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
}
#u1147 {
  position:absolute;
  left:11px;
  top:44px;
  width:116px;
  height:60px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 137, 8, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1149 {
  position:absolute;
  left:80px;
  top:437px;
  width:50px;
  height:30px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(233, 103, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1151 {
  position:absolute;
  left:150px;
  top:418px;
  width:50px;
  height:49px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:92px;
  background:inherit;
  background-color:rgba(178, 71, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1153 {
  position:absolute;
  left:220px;
  top:375px;
  width:50px;
  height:92px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:38px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(176, 70, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1155 {
  position:absolute;
  left:290px;
  top:418px;
  width:50px;
  height:49px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157 {
  position:absolute;
  left:80px;
  top:467px;
  width:55px;
  height:31px;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1158 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1159 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1160 {
  position:absolute;
  left:150px;
  top:467px;
  width:55px;
  height:31px;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1161 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1162 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1163 {
  position:absolute;
  left:220px;
  top:467px;
  width:55px;
  height:31px;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1165 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1166 {
  position:absolute;
  left:290px;
  top:467px;
  width:55px;
  height:31px;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1168 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:360px;
  top:467px;
  width:55px;
  height:31px;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1171 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1172 {
  position:absolute;
  left:80px;
  top:409px;
  width:55px;
  height:31px;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1174 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1175 {
  position:absolute;
  left:150px;
  top:388px;
  width:55px;
  height:31px;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1176 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1177 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1178 {
  position:absolute;
  left:220px;
  top:349px;
  width:55px;
  height:31px;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1180 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1181 {
  position:absolute;
  left:290px;
  top:388px;
  width:55px;
  height:31px;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1182 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1183 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1184 {
  position:absolute;
  left:360px;
  top:409px;
  width:55px;
  height:31px;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1186 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(226, 137, 8, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1187 {
  position:absolute;
  left:80px;
  top:437px;
  width:50px;
  height:30px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(233, 103, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1189 {
  position:absolute;
  left:150px;
  top:418px;
  width:50px;
  height:49px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:92px;
  background:inherit;
  background-color:rgba(178, 71, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1191 {
  position:absolute;
  left:220px;
  top:375px;
  width:50px;
  height:92px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:38px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
  background:inherit;
  background-color:rgba(176, 70, 28, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1193 {
  position:absolute;
  left:290px;
  top:418px;
  width:50px;
  height:49px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(157, 67, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1195 {
  position:absolute;
  left:360px;
  top:437px;
  width:50px;
  height:30px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197 {
  position:absolute;
  left:80px;
  top:467px;
  width:55px;
  height:31px;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1199 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1200 {
  position:absolute;
  left:150px;
  top:467px;
  width:55px;
  height:31px;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1202 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1203 {
  position:absolute;
  left:220px;
  top:467px;
  width:55px;
  height:31px;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1205 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1206 {
  position:absolute;
  left:290px;
  top:467px;
  width:55px;
  height:31px;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1207 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1208 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1209 {
  position:absolute;
  left:360px;
  top:467px;
  width:55px;
  height:31px;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  font-size:10px;
  color:#FFFFFF;
}
#u1211 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#399CCE;
  text-align:left;
}
#u1212 {
  position:absolute;
  left:11px;
  top:36px;
  width:184px;
  height:39px;
  font-size:18px;
  color:#399CCE;
  text-align:left;
}
#u1213 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u1214 {
  position:absolute;
  left:453px;
  top:91px;
  width:543px;
  height:215px;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1217 {
  position:absolute;
  left:112px;
  top:0px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1218 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1219 {
  position:absolute;
  left:179px;
  top:0px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1220 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1221 {
  position:absolute;
  left:291px;
  top:0px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1222 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1223 {
  position:absolute;
  left:358px;
  top:0px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1224 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1225 {
  position:absolute;
  left:470px;
  top:0px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1226 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1227 {
  position:absolute;
  left:0px;
  top:35px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1228 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1229 {
  position:absolute;
  left:112px;
  top:35px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1230 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1231 {
  position:absolute;
  left:179px;
  top:35px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1232 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1233 {
  position:absolute;
  left:291px;
  top:35px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1234 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1235 {
  position:absolute;
  left:358px;
  top:35px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1236 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1237 {
  position:absolute;
  left:470px;
  top:35px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1238 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:70px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1240 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1241 {
  position:absolute;
  left:112px;
  top:70px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1242 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1243 {
  position:absolute;
  left:179px;
  top:70px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1244 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1245 {
  position:absolute;
  left:291px;
  top:70px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1246 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1247 {
  position:absolute;
  left:358px;
  top:70px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1248 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1249 {
  position:absolute;
  left:470px;
  top:70px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1250 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:105px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1252 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1253 {
  position:absolute;
  left:112px;
  top:105px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1254 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1255 {
  position:absolute;
  left:179px;
  top:105px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1256 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1257 {
  position:absolute;
  left:291px;
  top:105px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1258 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1259 {
  position:absolute;
  left:358px;
  top:105px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1260 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1261 {
  position:absolute;
  left:470px;
  top:105px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1262 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1263 {
  position:absolute;
  left:0px;
  top:140px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1265 {
  position:absolute;
  left:112px;
  top:140px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1266 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1267 {
  position:absolute;
  left:179px;
  top:140px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1268 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1269 {
  position:absolute;
  left:291px;
  top:140px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1270 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1271 {
  position:absolute;
  left:358px;
  top:140px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1272 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1273 {
  position:absolute;
  left:470px;
  top:140px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1274 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1275 {
  position:absolute;
  left:0px;
  top:175px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1276 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1277 {
  position:absolute;
  left:112px;
  top:175px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1278 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1279 {
  position:absolute;
  left:179px;
  top:175px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1280 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u1281 {
  position:absolute;
  left:291px;
  top:175px;
  width:67px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1282 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:35px;
}
#u1283 {
  position:absolute;
  left:358px;
  top:175px;
  width:112px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u1284 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u1285 {
  position:absolute;
  left:470px;
  top:175px;
  width:68px;
  height:35px;
  font-size:12px;
  color:#ECBB25;
}
#u1286 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1287 {
  position:absolute;
  left:177px;
  top:48px;
  width:34px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u1290 {
  position:absolute;
  left:556px;
  top:344px;
  width:113px;
  height:113px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:48px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:116px;
}
#u1292 {
  position:absolute;
  left:772px;
  top:342px;
  width:117px;
  height:116px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1294 {
  position:absolute;
  left:582px;
  top:374px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1296 {
  position:absolute;
  left:635px;
  top:368px;
  width:15px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1298 {
  position:absolute;
  left:798px;
  top:354px;
  width:32px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1300 {
  position:absolute;
  left:830px;
  top:390px;
  width:32px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1302 {
  position:absolute;
  left:992px;
  top:3px;
  width:25px;
  height:25px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
