body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14482 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u14483 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14482_ann {
  position:absolute;
  left:388px;
  top:16px;
  width:1px;
  height:1px;
}
#u14484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u14484 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u14485 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14484_ann {
  position:absolute;
  left:388px;
  top:16px;
  width:1px;
  height:1px;
}
#u14486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u14486 {
  position:absolute;
  left:176px;
  top:258px;
  width:63px;
  height:24px;
}
#u14487 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14488 {
  position:absolute;
  left:29px;
  top:96px;
  width:359px;
  height:216px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14488_ann {
  position:absolute;
  left:381px;
  top:92px;
  width:1px;
  height:1px;
}
#u14489 {
  position:absolute;
  left:29px;
  top:48px;
  width:100px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
