body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1215 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u1217 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u1219 {
  position:absolute;
  left:21px;
  top:46px;
  width:372px;
  height:34px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1221 {
  position:absolute;
  left:21px;
  top:41px;
  width:375px;
  height:44px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1223 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:1px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
}
#u1225 {
  position:absolute;
  left:158px;
  top:49px;
  width:99px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FC992C;
}
#u1226 {
  position:absolute;
  left:2px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:111px;
}
#u1227 {
  position:absolute;
  left:149px;
  top:93px;
  width:119px;
  height:110px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u1229 {
  position:absolute;
  left:32px;
  top:95px;
  width:27px;
  height:24px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_ann {
  position:absolute;
  left:52px;
  top:91px;
  width:1px;
  height:1px;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1231 {
  position:absolute;
  left:32px;
  top:129px;
  width:362px;
  height:1px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1233 {
  position:absolute;
  left:59px;
  top:98px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:27px;
}
#u1235 {
  position:absolute;
  left:355px;
  top:156px;
  width:22px;
  height:27px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:62px;
  top:139px;
  width:151px;
  height:65px;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:31px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1239 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:31px;
}
#u1240 {
  position:absolute;
  left:0px;
  top:30px;
  width:146px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u1241 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u1242 {
  position:absolute;
  left:32px;
  top:207px;
  width:364px;
  height:1px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u1244 {
  position:absolute;
  left:32px;
  top:155px;
  width:27px;
  height:24px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:79px;
}
#u1246 {
  position:absolute;
  left:20px;
  top:130px;
  width:375px;
  height:78px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u1248 {
  position:absolute;
  left:20px;
  top:623px;
  width:375px;
  height:64px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_ann {
  position:absolute;
  left:388px;
  top:619px;
  width:1px;
  height:1px;
}
#u1250 {
  position:absolute;
  left:246px;
  top:631px;
  width:141px;
  height:51px;
  overflow:hidden;
}
#u1250_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1252 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u1250_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1254 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u1250_ann {
  position:absolute;
  left:379px;
  top:627px;
  width:1px;
  height:1px;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:23px;
}
#u1255 {
  position:absolute;
  left:38px;
  top:644px;
  width:128px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1257 {
  position:absolute;
  left:21px;
  top:41px;
  width:108px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:119px;
}
#u1258 {
  position:absolute;
  left:475px;
  top:93px;
  width:365px;
  height:118px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
