body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4732 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u4733 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u4734 {
  position:absolute;
  left:66px;
  top:595px;
  width:40px;
  height:36px;
}
#u4735 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4736 {
  position:absolute;
  left:62px;
  top:585px;
  width:50px;
  height:50px;
}
#u4737 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u4738 {
  position:absolute;
  left:60px;
  top:652px;
  width:54px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u4739 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u4740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:220px;
}
#u4740 {
  position:absolute;
  left:141px;
  top:157px;
  width:134px;
  height:220px;
}
#u4741 {
  position:absolute;
  left:2px;
  top:102px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:46px;
}
#u4742 {
  position:absolute;
  left:141px;
  top:165px;
  width:139px;
  height:46px;
  font-size:16px;
  color:#FFFFFF;
}
#u4743 {
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
