body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1046px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:41px;
}
#u8424 {
  position:absolute;
  left:7px;
  top:5px;
  width:7px;
  height:40px;
}
#u8425 {
  position:absolute;
  left:2px;
  top:12px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
}
#u8426 {
  position:absolute;
  left:32px;
  top:5px;
  width:310px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u8427 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u8428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:667px;
}
#u8428 {
  position:absolute;
  left:32px;
  top:117px;
  width:1014px;
  height:666px;
}
#u8429 {
  position:absolute;
  left:2px;
  top:325px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u8430 {
  position:absolute;
  left:32px;
  top:67px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u8431 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u8432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u8432 {
  position:absolute;
  left:141px;
  top:67px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u8433 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u8434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u8434 {
  position:absolute;
  left:250px;
  top:67px;
  width:99px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u8435 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u8434_ann {
  position:absolute;
  left:342px;
  top:63px;
  width:1px;
  height:1px;
}
