body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1154px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1154px;
  height:817px;
}
#u12391 {
  position:absolute;
  left:0px;
  top:0px;
  width:1154px;
  height:817px;
}
#u12392 {
  position:absolute;
  left:2px;
  top:400px;
  width:1150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12393 {
  position:absolute;
  left:543px;
  top:0px;
  width:68px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
