body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u13967 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u13968 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u13969 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u13970 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u13971 {
  position:absolute;
  left:20px;
  top:41px;
  width:375px;
  height:44px;
}
#u13972 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u13973 {
  position:absolute;
  left:157px;
  top:51px;
  width:101px;
  height:23px;
  font-size:18px;
  color:#FF9500;
}
#u13974 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u13975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:288px;
}
#u13975 {
  position:absolute;
  left:29px;
  top:129px;
  width:359px;
  height:287px;
}
#u13976 {
  position:absolute;
  left:2px;
  top:136px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:278px;
}
#u13977 {
  position:absolute;
  left:29px;
  top:129px;
  width:358px;
  height:278px;
}
#u13978 {
  position:absolute;
  left:2px;
  top:131px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
}
#u13979 {
  position:absolute;
  left:29px;
  top:95px;
  width:359px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u13980 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u13981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:126px;
}
#u13981 {
  position:absolute;
  left:415px;
  top:95px;
  width:261px;
  height:126px;
}
#u13982 {
  position:absolute;
  left:2px;
  top:55px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13983 {
  position:absolute;
  left:29px;
  top:97px;
  width:30px;
  height:30px;
}
#u13984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13985 {
  position:absolute;
  left:359px;
  top:98px;
  width:30px;
  height:30px;
}
#u13986 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:235px;
}
#u13987 {
  position:absolute;
  left:91px;
  top:448px;
  width:234px;
  height:235px;
}
#u13988 {
  position:absolute;
  left:2px;
  top:110px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u13989 {
  position:absolute;
  left:310px;
  top:417px;
  width:77px;
  height:21px;
  color:#FF9500;
}
#u13990 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u13991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13991 {
  position:absolute;
  left:30px;
  top:47px;
  width:30px;
  height:30px;
}
#u13992 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
